{
    "summary": "OKRA : {{ project }} : {{ summary }}",
    "project": {
        "key": "SSR"
    },
    "issuetype": {
        "name": "Sub-task"
    },
    "parent": {
        "key": "{{ jira_parent_id }}"
    },
    "assignee": {
        "id": "{{ jira_assignee_id }}"
    },
    "description": {
        "version": 1,
        "type": "doc",
        "content": [
            {
                "type": "heading",
                "attrs": {
                    "level": 1
                },
                "content": [
                    {
                        "type": "text",
                        "text": "Role/Goal/Value"
                    }
                ]
            },
            {
                "type": "paragraph",
                "content": [
                    {
                        "type": "text",
                        "text": "Role:",
                        "marks": [
                            {
                                "type": "strong"
                            }
                        ]
                    },
                    {
                        "type": "text",
                        "text": " As a SRE"
                    },
                    {
                        "type": "hardBreak"
                    },
                    {
                        "type": "text",
                        "text": "Goal:",
                        "marks": [
                            {
                                "type": "strong"
                            }
                        ]
                    },
                    {
                        "type": "text",
                        "text": "{{ goal }}"
                    },
                    {
                        "type": "hardBreak"
                    },
                    {
                        "type": "text",
                        "text": "Value:",
                        "marks": [
                            {
                                "type": "strong"
                            }
                        ]
                    },
                    {
                        "type": "text",
                        "text": "{{ value }}"
                    }
                ]
            },
            {
                "type": "heading",
                "attrs": {
                    "level": 1
                },
                "content": [
                    {
                        "type": "text",
                        "text": "Description"
                    }
                ]
            },
            {
                "type": "paragraph",
                "content": [
                    {
                        "type": "text",
                        "text": "{{ description }}"
                    }
                ]
            },
            {
                "type": "heading",
                "attrs": {
                    "level": 1
                },
                "content": [
                    {
                        "type": "text",
                        "text": "Acceptance Criteria"
                    }
                ]
            },
            {
                "type": "paragraph",
                "content": [
                    {
                        "type": "text",
                        "text": "OKRA Acceptance Criteria"
                    }
                ]
            }
        ]
    }
}
